@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f7f9fc;
    display: flex;
}

.game {
    margin-left: 1em;
    margin-right: 1em;
}

.game-card {
    border: 2px solid black;
    height: 100%;
}

.sidebar {
    height: 100vh;
    max-width: 240px;
    padding: 1.5em;
    position: sticky;
    z-index: 99;
    background-color: #f7f9fc;
    top: 0;

    ul {
        list-style-type: none;
        padding: 0;

        h6 {
            color: #5c6471;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .btn-collapse {
        background-color: #035c8c;
        color: white;

        &::after {
            font-family: "bootstrap-icons";
            content: "\F284";
        }
    }

    .btn-collapse.collapsed::after {
        content: "\F285";
    }
}

.game {
    width: 100%;

    .title {
        color: #035c8c;
        font-weight: 600;
        padding: 1.5em;
    }
}

.game-menu {
    background-color: #eec174;
    border-bottom: 2px solid black;

    .swiper-pagination {
        width: auto;
    }

    button.nav-link {
        background-color: transparent !important;
        opacity: 1;
        color: black;
        border: 2px solid black;
        border-radius: 0;
        margin: 0 !important;
        border-right: none;
        font-size: 17px;
        font-weight: 700;
        width: 104px;
        height: 104px;

        &:last-child {
            border-right: 2px solid black !important;
        }

        &:hover {
            background-color: #265b8840 !important;
        }

        &.active {
            background-color: #265b88 !important;
            color: white;
        }
    }
}

.main {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.footer {
    border-top: 2px solid black;

    svg {
        width: 24px;
        fill: #265b88;
    }
    button {
        background-color: transparent;
        border: none;
        font-weight: 500;
        color: #265b88;
        align-items: center;
        display: flex;
        gap: 0.5em;
        border-radius: 0;
    }

    .navbar-nav {
        gap: 1em;

        .btn {
            border: 2px solid black;
        }

        &:last-child {
            .btn {
                background-color: #265b88;
                color: white;

                svg {
                    fill: white;
                }
            }
        }
    }
}

.nav-pagination {
    width: auto !important;
}

.swiper {
    max-width: 100%;
}

.swiper-slide {
    margin: 1em;
    width: calc(100% - 2em) !important;
}

.swiper-wrapper {
    width: auto;
}

.slide-2 {
    ul {
        margin: 0;
        padding: 0;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 1em;

        li {
            border: 2px solid black;
            list-style-type: none;
            padding: 1em;

            svg {
                width: 24px;
                fill: #426d6f;
            }

            &:first-child {
                font-weight: 700;
                text-align: center;

                svg {
                    width: 40px;
                    margin-bottom: 0.5em;
                }
            }
        }
    }
}

.slide-3 {
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li {
            list-style-type: none;
            position: relative;

            &:before {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: #c56e53;
                border: 2px solid black;
                position: absolute;
                margin-top: 3px;
                left: -2rem;
            }
        }
    }
}

.slide-4 {
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1em;

        li {
            padding: 1em;
            border: 2px solid black;
            background-color: #aecbdc;
        }
    }
}

.slide-5 {
    .card {
        background-color: #aecbdc;
        text-align: center;
    }

    .card,
    button {
        border-radius: 0;
        padding: 1em;
        border: 2px solid black;
    }

    svg {
        width: 24px;
        fill: #426d6f;
    }

    .btn {
        background-color: #265b88;
        color: white;
        text-transform: uppercase;
    }
}

.slide-6 {
    li {
        padding: 1em;
    }
    ul {
        list-style: none;
        padding: 0;

        li {
            font-weight: 700;
            border: 2px dashed black;
            margin-bottom: 1em;
        }
    }
}

.aviso {
    background-color: #aecbdc;
    border: 2px solid black;
    margin-bottom: 2em;
    padding: 1em;
    display: flex;
    gap: 1em;

    .mdi {
        font-size: 64px;
        line-height: 1;
    }
}

.item_dashed {
    font-weight: 700;
    border: 2px dashed black;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
}

.balao {
    border-radius: 8px;
    border: 1px solid black;
    padding: 0.5em;
    position: relative;
}

.balao:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
}

.balao:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
}

.balao-1::before {
    left: calc(50% - 10px);
    right: auto;
    bottom: auto;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent black;
}

.balao-1::after {
    left: calc(50% - 9.5px);
    right: auto;
    bottom: auto;
    top: -18px;
    border: 9px solid;
    border-color: transparent transparent white;
}

.balao-3::before {
    left: auto;
    right: 10%;
    bottom: -20px;
    top: auto;
    border: 10px solid;
    border-color: black transparent transparent;
}

.balao-3::after {
    left: auto;
    right: calc(10% + 0.5px);
    bottom: -17px;
    top: auto;
    border: 9px solid;
    border-color: white transparent transparent;
}

.swiper,
.main {
    overflow-y: visible;
}

.slide-7 {
    img {
        width: 100%;
    }
}

.cursor-default-click {
    width: 24px;
    height: 24px;
}

.pf_button {
    width: 100%;
    margin-bottom: 1.5em;
    gap: 1em;
    border: 2px solid black;
    aspect-ratio: 9 / 5;
    background-color: #aecbdc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
        font-size: 64px;
    }

    &:hover {
        background-color: #265b8840;
    }
}

.pf_titulo {
    display: flex;
    align-items: center;

    h3 {
        margin: 0;
        color: #426d6f;
    }
    i {
        font-size: 64px;
        color: #426d6f;
    }
}

.btn-primary {
    background-color: #265b88 !important;
    border: 2px solid #262626 !important;
    border-radius: 0 !important ;
}

.pf_menu .btn-primary {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 320px;
    text-transform: uppercase;
}

.modal-escala {
    border-radius: 0;

    .modal-dialog {
        max-width: 680px;
    }

    .modal-content {
        border: 2px solid #262626;
    }

    .modal-header {
        background-color: #eec174;
        border-bottom: 2px solid #262626;
    }

    .modal-header,
    .modal-content {
        border-radius: 0;
    }

    .chevron-right {
        width: 24px;
        fill: white;
    }
}

.pf_menu {
    display: none;
    padding: 1em;
    width: 100%;
}

.row_nc {
    button {
        aspect-ratio: 1/1;
        width: 100%;

        .text {
            display: none;
        }

        .letter {
            font-size: 104px;
            color: #c56e53;
        }

        &:hover {
            .text {
                display: block;
            }

            .letter {
                display: none;
            }
        }
    }
}

.dica {
    align-items: center;
    gap: 0.5em;
    color: #426d6f;
    font-size: 24px;
}

table {
    label{
        position: relative;
        width: 100%;
        height: 28px;
    }
    input {
        position: absolute;
    }

    .btn-radio {
        border: 3px solid gray !important;
        border-radius: 50%;
        position: absolute;
    }

    input, .btn-radio{
        width: 28px;
        height: 28px;
        left: calc(50% - 14px);
    }

    thead{
        text-align: center;
    }
}
